[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "boot.pval"]
	path = boot.pval
	url = https://github.com/mthulin/boot.pval
	shallow = true
	registered = true
